a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.bold {
  font-size: 20px;
  font-weight: 600;
  font-stretch: extra-expanded;
}
.bold400 {
  font-weight: 500;
}

body {
  background-color: #ffffffd7;
}
