a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.bold {
  font-size: 20px;
  font-weight: 600;
  font-stretch: extra-expanded;
}
.bold400 {
  font-size: 16px;
  font-weight: 500;
}

body {
  background-color: #ffffffd7;
}
.packages {
  background-color: #d0e2f7;
}

.font-size-30 {
  font-size: 30px;
}
.font-size-12 {
  font-size: 12px;
}
.news-section-color {
  background-color: #f4faff;
}
.header-color {
  background-color: #023b6d;
}
.footer h5 {
  font-size: 16px;
}
a {
  color: rgb(165, 163, 163);
  font-size: 15px;
}
a:hover {
  color: #f4faff;
}
#freeDownload:hover {
  background-color: #0e5592;
}

.col-3 input {
  border-radius: 50px;
  padding-left: 10px;
}
